@font-face {
  font-family: "PressStart2P";
  src: url("https://fonts.gstatic.com/s/pressstart2p/v14/e3t4euO8T-267oIAQAu6jDQyK3nVivM.woff2")
    format("woff2");
}

.container {
  background-color: #000;
  font-family: "PressStart2P", monospace;
  text-align: center;
  margin: 0;
  padding: 50px;
  color: #0f0;
  background-image: radial-gradient(#ffffff 1px, transparent 1px),
    radial-gradient(#ffffff 1px, transparent 1px);
  background-position:
    0 0,
    25px 25px;
  background-size: 50px 50px;
  animation: animatedBackground 5s linear infinite;
}

@keyframes animatedBackground {
  0% {
    background-position:
      0 0,
      25px 25px;
  }

  100% {
    background-position:
      -50px -50px,
      -25px -25px;
  }
}

.title {
  font-size: 32px;
  color: #f0f;
  text-shadow: 2px 2px 0 #ff0;
  margin: 0;
  padding: 20px;
  animation: textShadow 1.6s infinite;
}

@keyframes textShadow {
  0% {
    text-shadow: 2px 2px 0 #ff0;
  }

  25% {
    text-shadow: -2px 2px 0 #ff0;
  }

  50% {
    text-shadow: -2px -2px 0 #ff0;
  }

  75% {
    text-shadow: 2px -2px 0 #ff0;
  }

  100% {
    text-shadow: 2px 2px 0 #ff0;
  }
}

.subtitle {
  font-size: 18px;
  color: #ff0;
  margin: 20px 0;
}

.asciiArt {
  font-family: monospace;
  white-space: pre;
  color: #0ff;
  display: block;
}

.footer {
  margin-top: 200px;
  margin-bottom: 50px;
  color: #f0f;
  font-size: 14px;
}
